<form id="form-devis" method="POST" class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
	{{ form_start(form) }}
	<div class="px-4 py-6 sm:p-8">
		<div class="flex flex-col space-y-3 w-full">
			<div class="sm:col-span-4 flex flex-1 w-full justify-between gap-6">
				<div class="w-full">
					{{ form_label(form.client, 'Client', {'label_attr': {'class': 'block w-full text-sm font-medium leading-6 text-gray-900'}}) }}
					{{ form_widget(form.client, {'attr': {'class': 'mt-2  w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-secondary'}}) }}
					{{ form_errors(form.client, {'attr': {'class': 'text-sm text-red-600'}}) }}
				</div>
			</div>
			<div class="sm:col-span-4 flex flex-1 w-full justify-between gap-6">
				<div class="w-full">
					{{ form_label(form.echeance, 'Écheance', {'label_attr': {'class': 'block w-full text-sm font-medium leading-6 text-gray-900'}}) }}
					{{ form_widget(form.echeance, {'attr': {'class': 'mt-2  w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-secondary'}}) }}
					{{ form_errors(form.echeance, {'attr': {'class': 'text-sm text-red-600'}}) }}
				</div>
				<div class="w-full">
					{{ form_label(form.date, 'Date', {'label_attr': {'class': 'block w-full text-sm font-medium leading-6 text-gray-900'}}) }}
					{{ form_widget(form.date, {'attr': {'class': 'mt-2  w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-secondary'}}) }}
					{{ form_errors(form.date, {'attr': {'class': 'text-sm text-red-600'}}) }}
				</div>
			</div>
			<div class="sm:col-span-4 flex flex-1 w-full justify-between gap-6">
				<div class="w-full">
					{{ form_label(form.message, 'Message', {'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
					{{ form_widget(form.message, {'attr': {'class': 'mt-2  w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-secondary'}}) }}
					{{ form_errors(form.message, {'attr': {'class': 'text-sm text-red-600'}}) }}
				</div>
			</div>
			<div class="relative my-3">
				<div class="absolute inset-0 flex items-center" aria-hidden="true">
					<div class="w-full border-t border-gray-300"></div>
				</div>
				<div class="relative flex justify-center">
					<span class="bg-white px-3 text-base font-semibold leading-6 text-gray-900">Produits</span>
				</div>
			</div>
			<div>
				<div id="devis-produits" class="produitFacture flex flex-col" data-index="{{ form.produitFacture|length > 0 ? form.produitFacture|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.produitFacture.vars.prototype)|e('html_attr') }}">
					{% for produitFacture in form.produitFacture %}
						<div class="produitFactureLine flex flex-1 justify-between gap-x-2 mt-2">
							<div>
								{{ form_label(produitFacture.produit, 'Produit' ,{'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
								{{ form_widget(produitFacture.produit, {'attr': {'class': 'mt-2 w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-secondary'}}) }}
								{{ form_errors(produitFacture.produit, {'attr': {'class': 'text-sm text-red-600'}}) }}
							</div>
							<div>
								{{ form_label(produitFacture.quantity, 'Quantité' ,{'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
								{{ form_widget(produitFacture.quantity, {'attr': {'class': 'mt-2  w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-secondary'}}) }}
								{{ form_errors(produitFacture.quantity, {'attr': {'class': 'text-sm text-red-600'}}) }}
							</div>
							<div>
								{{ form_label(produitFacture.price, 'Prix' ,{'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
								{{ form_widget(produitFacture.price, {'attr': {'class': 'mt-2  w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-secondary'}}) }}
								{{ form_errors(produitFacture.price, {'attr': {'class': 'text-sm text-red-600'}}) }}
							</div>
							<div>
								{{ form_label(produitFacture.tva, 'Tva' ,{'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
								{{ form_widget(produitFacture.tva, {'attr': {'class': 'mt-2  w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-secondary'}}) }}
								{{ form_errors(produitFacture.tva, {'attr': {'class': 'text-sm text-red-600'}}) }}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="relative">
				<div class="absolute inset-0 flex items-center" aria-hidden="true">
					<div class="w-full border-t border-gray-300"></div>
				</div>
				<div class="relative flex justify-center">
					<button type="button" data-collection-holder-class="produitFacture" class="add_item_link inline-flex items-center gap-x-1.5 rounded-full bg-white px-3 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
						<svg class="-ml-1 -mr-0.5 h-5 w-5 text-gray-400" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
							<path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
						</svg>
						Ajouter un produit
					</button>
				</div>
			</div>
			<div class="sm:col-span-4 flex flex-1 w-full justify-between gap-6">
				<div class="w-full">
					{{ form_label(form.montant, 'Montant', {'label_attr': {'class': 'block w-full text-sm font-medium leading-6 text-gray-900'}}) }}
					{{ form_widget(form.montant, {'attr': {'class': 'mt-2  w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-secondary'}}) }}
					{{ form_errors(form.montant, {'attr': {'class': 'text-sm text-red-600'}}) }}
				</div>
				<div class="w-full">
					{{ form_label(form.status, 'Status', {'label_attr': {'class': 'block w-full text-sm font-medium leading-6 text-gray-900'}}) }}
					{{ form_widget(form.status, {'attr': {'class': 'mt-2  w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-secondary'}}) }}
					{{ form_errors(form.status, {'attr': {'class': 'text-sm text-red-600'}}) }}
				</div>
			</div>
		</div>
	</div>
	<div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
		<a href="{{ path('back_app_facture_index') }}" class="text-sm font-semibold leading-6 text-gray-900">Annuler</a>
		<button type="submit" class="rounded-md bg-secondary px-3 py-2 text-sm font-semibold text-white shadow-sm">
			{{ button_label|default('Ajouter') }}
		</button>
	</div>
	{{ form_end(form) }}
</form>
{% block javascripts %}
	<script>

		const addTagFormDeleteLink = (item) => {
const removeFormButton = document.createElement('button');
removeFormButton.innerText = 'Delete this tag';

item.append(removeFormButton);

removeFormButton.addEventListener('click', (e) => {
e.preventDefault();
// remove the li for the tag form
item.remove();
});
}

const addFormToCollection = (e) => {
const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

const ul = document.createElement('ul');
ul.classList.add('flex', 'flex-1', 'flex-row');

const item = document.createElement('li');
item.innerHTML = collectionHolder.dataset.prototype.replace(/__name__/g, collectionHolder.dataset.index);

ul.appendChild(item);
collectionHolder.appendChild(ul);

const elements = ul.querySelectorAll('[id^="facture_produitFacture_"]');
elements.forEach(element => {
element.classList.add('flex', 'flex-row', 'gap-x-2', 'sm:col-span-4', 'flex-1', 'w-full', 'justify-between');
});

collectionHolder.dataset.index ++;

const quantiteInputs = document.querySelectorAll('[id^="facture_produitFacture_"][id$="_quantity"]');
const prixHtInputs = document.querySelectorAll('[id^="facture_produitFacture_"][id$="_price"]');
const tvaInputs = document.querySelectorAll('[id^="facture_produitFacture_"][id$="_tva"]');
updateMontantTotal();

quantiteInputs.forEach(input => {
input.addEventListener('change', updateMontantTotal);
});

prixHtInputs.forEach(input => {
input.addEventListener('change', updateMontantTotal);
});

tvaInputs.forEach(input => {
input.addEventListener('change', updateMontantTotal);
});


addTagFormDeleteLink(item);

};


document.querySelectorAll('.add_item_link').forEach(btn => {
btn.addEventListener("click", addFormToCollection)
});

document.querySelectorAll('.produitFactureLine').forEach((tag) => {
addTagFormDeleteLink(tag)
})

const montantInput = document.getElementById('facture_montant');

function updateMontantTotal() {
const quantiteInputs = document.querySelectorAll('[id^="facture_produitFacture_"][id$="_quantity"]');
const prixHtInputs = document.querySelectorAll('[id^="facture_produitFacture_"][id$="_price"]');
const tvaInputs = document.querySelectorAll('[id^="facture_produitFacture_"][id$="_tva"]');
quantiteInputs.forEach(input => {
input.addEventListener('change', updateMontantTotal);
});

prixHtInputs.forEach(input => {
input.addEventListener('change', updateMontantTotal);
});

tvaInputs.forEach(input => {
input.addEventListener('change', updateMontantTotal);
});
let montantTotal = 0;

for (let i = 0; i < quantiteInputs.length; i++) {
const quantite = parseFloat(quantiteInputs[i].value);
const prixHt = parseFloat(prixHtInputs[i].value);
const tva = parseFloat(tvaInputs[i].value);

let montantProduit = quantite * prixHt;

if (!isNaN(tva)) {
montantProduit += montantProduit * (tva / 100);
}

montantTotal += montantProduit;
}

if (!isNaN(montantTotal)) {
montantInput.value = montantTotal.toFixed(2);
}
}

updateMontantTotal();
	</script>
{% endblock %}
