<section id="form-devis">
	{{ form_start(form) }}

	{{ form_row(form.client, {'empty_data': null, 'placeholder': 'Sélectionner un client'}) }}
	<hr>
	{{ form_row(form.date) }}
	{{ form_row(form.message) }}
	<hr>

	<h3>Produits</h3>

	{# Bouton pour ajouter une nouvelle ligne #}
	<button class="btn">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}
</section>

<script></script>
