<section id="form-devis">
	{{ form_start(form) }}

	{{ form_row(form.client, {'empty_data': null, 'placeholder': 'Sélectionner un client'}) }}
	<hr>
	{{ form_row(form.date) }}
	{{ form_row(form.message) }}
	<hr>

	<h3>Produits</h3>

	<div class="flex flex-col">
		<div id="devis-produits" class="produitDevis flex flex-col" data-index="{{ form.produitDevis|length > 0 ? form.produitDevis|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.produitDevis.vars.prototype)|e('html_attr') }}">
			{% for produitDevis in form.produitDevis %}
				<div class="produitDevis flex flex-row">
					<div class="flex flex-col">
						<label>{{ produitDevis.produit.vars.name }}</label>
						{{ form_widget(produitDevis.produit) }}
					</div>

					<div class="flex flex-col">
						<label>{{ produitDevis.quantity.vars.name }}</label>
						{{ form_widget(produitDevis.quantity) }}
					</div>

					<div class="flex flex-col">
						<label>{{ produitDevis.price.vars.name }}</label>
						{{ form_widget(produitDevis.price) }}
					</div>

					<div class="flex flex-col">
						<label>{{ produitDevis.tva.vars.name }}</label>
						{{ form_widget(produitDevis.tva) }}
					</div>
				</div>
			{% endfor %}
		</div>


		<button type="button" class="add_item_link" data-collection-holder-class="produitDevis">Ajouter un produit</button>

		<hr>

		{{ form_row(form.montant) }}
		{{ form_row(form.status) }}

		<hr>

		{# Bouton pour ajouter une nouvelle ligne #}
		<button class="btn">{{ button_label|default('Save') }}</button>
		{{ form_end(form) }}

	</section>


	{% block javascripts %}
		<script>

			const addFormToCollection = (e) => {
const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

const ul = document.createElement('ul');
ul.classList.add('flex', 'flex-1', 'flex-row');

const item = document.createElement('li');
item.innerHTML = collectionHolder.dataset.prototype.replace(/__name__/g, collectionHolder.dataset.index);

ul.appendChild(item);
collectionHolder.appendChild(ul);

// Ajouter les classes flex et flex-row aux éléments
const elements = ul.querySelectorAll('[id^="devis_produitDevis_"]');
elements.forEach(element => {
element.classList.add('flex', 'flex-row');
});

collectionHolder.dataset.index ++;
};


// Add product dynamically
document.querySelectorAll('.add_item_link').forEach(btn => {
btn.addEventListener("click", addFormToCollection)
});

// Récupérer les références des champs
const quantiteInputs = document.querySelectorAll('[id^="devis_produitDevis_"][id$="_quantity"]');
const prixHtInputs = document.querySelectorAll('[id^="devis_produitDevis_"][id$="_price"]');
const tvaInputs = document.querySelectorAll('[id^="devis_produitDevis_"][id$="_tva"]');
const montantInput = document.getElementById('devis_montant');

// Fonction de mise à jour du montant total
function updateMontantTotal() {
let montantTotal = 0;

// Parcourir tous les produitsDevis
for (let i = 0; i < quantiteInputs.length; i++) {
const quantite = parseFloat(quantiteInputs[i].value);
const prixHt = parseFloat(prixHtInputs[i].value);
const tva = parseFloat(tvaInputs[i].value);

// Calculer le montant du produitDevis en multipliant la quantité par le prix HT
let montantProduit = quantite * prixHt;

// Ajouter la TVA si elle est spécifiée
if (!isNaN(tva)) {
montantProduit += montantProduit * (tva / 100);
}

// Ajouter le montant du produitDevis au montant total
montantTotal += montantProduit;
}

// Afficher le montant total avec 2 décimales
if (!isNaN(montantTotal)) {
montantInput.value = montantTotal.toFixed(2);
}
}

// Écouter les événements de modification des champs
quantiteInputs.forEach(input => {
input.addEventListener('input', updateMontantTotal);
});

prixHtInputs.forEach(input => {
input.addEventListener('input', updateMontantTotal);
});

tvaInputs.forEach(input => {
input.addEventListener('input', updateMontantTotal);
});

// Appeler la fonction de mise à jour initiale
updateMontantTotal();
		</script>
	{% endblock %}
