{% extends 'partials/layout.html.twig' %}

{% block title %}Devis index
{% endblock %}

{% block main %}
	<table class="table">
		<tr>
			<td>
				<h1>Devis</h1>
			</td>
			<td><input type="text" placeholder="Rechercher dans la liste"></td>
			<td>
				<a href="{{ path('back_app_devis_new') }}">Create new</a>
			</td>
		</tr>

	</table>

	<table class="table">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Client</th>
				<th>Crée le</th>
				<th>Total ttc</th>
				<th>Statut</th>
			</tr>
		</thead>
		<tbody>
			{% for devi in devis %}
				<tr>
					<td>{{ devi.id }}</td>
					<td>{{ devi.client }}</td>
					<td>{{ devi.date ? devi.date|date('Y-m-d') : '' }}</td>
					<td>{{ devi.montant }}</td>
					<td>{{ devi.status }}</td>
					<td>
						<a href="{{ path('back_app_devis_show', {'id': devi.id}) }}">Voir</a>
						<a href="{{ path('back_app_devis_edit', {'id': devi.id}) }}">Editer</a>
						<a href="{{ path('back_app_devis_delete', {'id': devi.id}) }}">Supprimer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">Aucun devis trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
