{% extends 'base.html.twig' %}

{% block title %}Quizz index{% endblock %}

{% block body %}
    <h1>Quizz index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quizz in quizzs %}
            <tr>
                <td>{{ quizz.id }}</td>
                <td>{{ quizz.name }}</td>
                <td>
                    <a href="{{ path('app_quizz_show', {'slug': quizz.slug}) }}">show</a>
                    <a href="{{ path('app_quizz_edit', {'slug': quizz.slug}) }}">edit</a>
                    {% if not loop.first %}<a href="{{ path('app_quizz_change_position', {'slug': quizz.slug, 'order': 'up'}) }}">up</a>{% endif %}
                    {% if not loop.last %}<a href="{{ path('app_quizz_change_position', {'slug': quizz.slug, 'order': 'down'}) }}">down</a>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_quizz_new') }}">Create new</a>
{% endblock %}
